{% extends 'base.html.twig' %} {% block header %} {{ parent() }}
<div class="banner">
    <div class="container">
        <h3>Jeremie Chabert
            <br>
            <strong>Le nouveau roi de la glisse</strong>
        </h3>
    </div>
</div>
{% endblock header %} {% block content %}
<div class="home-articles">
    <div class="container">
        <div class="row section d-flex flex-wrap justify-content-center">

            {% for row in categories %}
            <a href="{{path('categories',{'id':row.id})}}">
                {% if row.name is same as ("Hommes") %}

                <div class="articles">
                    <div class="articles-content">
                            <h2 class="articles-name">{{row.name}}</h2>
                        <img src="/img/man_menu.jpeg" class="img-fluid" alt="">
                    {% elseif row.name is same as ("Femmes") %}
                    
                <div class="articles">
                        <div class="articles-content">
                                <h2 class="articles-name">{{row.name}}</h2>
                        <img src="/img/woman_menu.jpeg" class="img-fluid" alt="">
                        {% elseif row.name is same as ("Accessoires") %}
                       
                <div class="articles">
                        <div class="articles-content">
                                <h2 class="articles-name">{{row.name}}</h2>
                        <img src="/img/skate_menu.jpg" class="img-fluid" alt="">
                            {% elseif row.name is same as ("Skates") %}
                           
                <div class="articles">
                        <div class="articles-content">
                                <h2 class="articles-name">{{row.name}}</h2>
                        <img src="/img/access_menu.jpg" class="img-fluid" alt=""> 
                                {% endif %}


                            </div>
                            </div>
            </a>
            {% endfor %}

        </div>
        </a>
    </div>
    </a>
</div>
</a>
</div>
</div>
</div>
<div class="container actu-section">
        <h2 class="actu-title">Actu</h2>
    <div class="row">
        <div class="actu col-xl-12 d-flex flex-wrap p-0">
                <div class="img-section">
                        <div class="image">
                        <h3 class="legend">Nico</h3>
                        <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                    </div>
                    </div>
            <div class="img-section">
                    <div class="image">
                    <h3 class="legend">Jeremy</h3>
                    <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                </div>
                </div>
            <div class="img-section">
                <div class="image">
                <h3 class="legend">Jessica</h3>
                <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
            </div>
            </div>
            <div class="img-section">
                    <div class="image">
                    <h3 class="legend">Peter</h3>
                    <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                </div>
                </div>
                <div class="img-section">
                        <div class="image">
                        <h3 class="legend">Berta</h3>
                        <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                    </div>
                    </div>
            <div class="img-section">
                    <div class="image">
                    <h3 class="legend">Marina</h3>
                    <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                </div>
                </div>
            <div class="img-section">
                <div class="image">
                <h3 class="legend">John</h3>
                <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
            </div>
            </div>
            <div class="img-section">
                    <div class="image">
                    <h3 class="legend">Legend</h3>
                    <img src="https://placekitten.com/360/360" class="img-fluid" alt="">
                </div>
                </div>

        </div>
    </div>
</div>

{% endblock %}