{% extends 'base.html.twig' %}

{% block content %}
    <div class="title-article-page">
        <p>
            <a href="{{ path('home') }}">Home/</a>{{ category.name }}
        </p>
    </div>
    <div class="container-fluid article-grid ">
        <div class="row">
            {% for row in product %}
                <div class="card col-xl-3 col-md-6">
                    <a href="{{ path('single', {'id':row.id}) }}">
                        <img class="card-img-top" src="{{ asset(row.image) }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <div class="card-text">
                            <h4>{{ row.name }}</h4>
                            <p>{{ row.description[:20] }}...</p>
                            <strong>{{ row.price }}€</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %} 
