{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block content %} 
<div class="container">
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-danger">Ajouter une catégorie</button>
{{form_end(form)}}
</div>
{% endblock content %}