<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AJB</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
  <!-- Css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <link rel="stylesheet" href="{{asset('css/article-grid.css')}}">
  <link rel="stylesheet" href="{{asset('build/css/app.css')}}">



</head>

<style>
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .navbar {
    height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    /* background-color: rgba(27, 27, 27, 0); */
    background-color: rgba(27, 27, 27);
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: .4s;
  }

  .navbar:hover {
    background-color: rgb(27, 27, 27);
    transition: .4s;
  }

  .navbar-brand {
    height: 60px;
    width: 60px;
    font-size: 30px;
    display: flex;

  }

  .nav-item {
    font-size: 13px;
    padding: 20px;
  }

  .nav-link {
    color: white !important;
    margin-top: 11px;
    border-bottom: solid 3px transparent;
    padding-bottom: 19px;

  }

  .nav-link:hover {
    content: '';
    border-bottom: solid 3px white;
    padding-bottom: 19px;
  }

  .login {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: White;
    font-size: 13px;
    margin-bottom: 0;

  }

  .login li {
    padding: 10px;
  }

  .banner {
    padding: 0;
    margin: 0;
    background-image: url('img/tricks.jpg');
    height: 600px;
    background-size: cover;
  }

  .banner h3 {
    top: 50%;
    left: 10%;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
  }

  .section {
    margin-top: 100px;
  }

  .men,
  .women,
  .skate,
  .access {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 320px;
    justify-content: center;
    background-color: black;
    margin: 10px;
    color: black;
  }

  .men {
    background-image: url('img/man_menu.jpeg');
    background-size: cover;
  }

  .women {
    background-image: url('img/woman_menu.jpeg');
    background-size: cover;
  }

  .skate {
    background-image: url('img/skate_menu.jpg');
    background-size: cover;
  }

  .access {
    background-image: url('img/access_menu.jpg');
    background-size: cover;
    background-position: top;
  }

  .left,
  .right {
    height: 1000px;
    margin-top: 100px;
  }

  .left {
    background-image: url('img/men.jpg');
    background-size: cover;

  }

  .right {
    background-image: url('img/women.jpeg');
    background-size: cover;
  }

  h2 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 0 0 3px black;
    display: flex;
    align-items: center;

  }

  .active {
    background-color: rgb(27, 27, 27);
  }

  .actu {
    padding: 0;
    margin-top: 100px;
  }

  .actu h3 {
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
  }

  .actu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    max-width: 100%
  }

  .actu li {
    height: 285px;
    width: 285px;
    background-color: grey;
    padding: 0;
  }

  footer {
    height: 200px;
    background-color: black;
    margin-top: 100px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-social li {
    padding: 40px;
    color: white;
    font-size: 30px;
  }

  .footer-social li:hover {
    color: red;
  }

  .card {
    border: none;
    border-radius: 0%;
    margin-top: 30px;
  }

  .grid {
    padding-left: 10%;
    padding-right: 10%;
  }

  .card-text {
    text-align: center;
    font-size: 13px;
    Line-Height: 5pt;
  }

  .card-text h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .card-text strong {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .card-img-top {
    border-radius: 0;
  }

  .card img:hover {
    background-color: black;
  }

  .overlay {
    position: absolute;
    display: block;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-img-top:hover {
    opacity: .5;
    transition: .4s;
  }

  .article-focus {
    height: 700px;
    background-image: url('img/men.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
</style>


<body>
  <!--Header-->
  <div class="container-fluid banner">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <a class="navbar-brand" href="#!">
          <img src="img/jab.svg" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 ml-5 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="#!">Hommes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Femmes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Skate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Accessoires</a>
            </li>
          </ul>
          <ul class="login ml-auto">
            <li>Se connecter</li>
            <li>
              <i class="fas fa-shopping-cart"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h3>Jeremie Chabert
      <br> nouveau roi de la glisse</h3>
  </div>


  <div class="container-fluid grid ">
    <div class="row">
      <div class="card col-xl-3 col-md-6">
        <img class="card-img-top" src='img/access_menu.jpg' alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Super sac</h4>
            <p>Kaki</p>
            <strong>80€</strong>
          </div>
        </div>
      </div>

      <div class="card col-xl-3 col-md-6">
        <img class="card-img-top" src='img/access_menu.jpg' alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Super sac</h4>
            <p>Kaki</p>
            <strong>80€</strong>
          </div>
        </div>
      </div>
      <div class="card col-xl-3 col-md-6">
        <img class="card-img-top" src='img/access_menu.jpg' alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Super sac</h4>
            <p>Kaki</p>
            <strong>80€</strong>
          </div>
        </div>
      </div>
      <div class="card col-xl-3 col-md-6">
        <img class="card-img-top" src='img/access_menu.jpg' alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Super sac</h4>
            <p>Kaki</p>
            <strong>80€</strong>
          </div>
        </div>
      </div>
      <div class="card col-xl-3 col-md-6">
        <img class="card-img-top" src='img/access_menu.jpg' alt="Card image cap">
        <div class="card-body">
          <div class="card-text">
            <h4>Super sac</h4>
            <p>Kaki</p>
            <strong>80€</strong>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row section d-flex justify-content-center">
      <div class="men">
        <h2>men</h2>
      </div>
      <div class="women">
        <h2>women</h2>
      </div>
      <div class="skate">
        <h2>skate</h2>
      </div>
      <div class="access">
        <h2>access</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="left col-xl-6"></div>
      <div class="right col-xl-6"></div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="actu col-xl-12">
        <h3>Actu</h3>
        <ul>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
          <li class="col-xl-3"></li>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <ul class="footer-social">
        <a href="">
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
        </a>
        <a href="">
          <li>
            <i class="fab fa-instagram"></i>
          </li>
        </a>
        <a href="">
          <li>
            <i class="fab fa-twitter"></i>
          </li>
        </a>
        <a href="">
          <li>
            <i class="fab fa-youtube"></i>
          </li>
        </a>
        <a href="">
          <li>
            <i class="fab fa-snapchat-ghost"></i>
          </li>
        </a>
    </div>
  </footer>






  <!-- Script -->
  <script src="https://cdn.ckeditor.com/ckeditor5/10.1.0/classic/ckeditor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>

</body>


</html>