footer {
  background-color: rgb(27, 27, 27);
  margin-top: 100px;
  padding-top: 60px;
  border-top: solid red 10px;
  color: white;

  .fas {
    padding-right: 20px;
  }

  h5 {
    font: {
      weight: bold;
      size: 22px;
    }
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .footer-social {
    padding-left: 90px;
    margin-left: 15px;
    a{
      color:white;
      text-decoration: none;
    }
    h5 {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    li {
      padding-right: 30px;
      color: white;
      font-size: 30px;

      &:hover {
        color: red;
      }
    }
  }
}


.credits {
  margin-top: 30px;
  font-size: 13px;
  padding: 0;
  display: flex;
  width:100%;
  justify-content: center;
  a{
    color:red;
    text-decoration: none;
    text-align: right;
    padding-left:10px;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: inline-flex;
  }
}

.terms {
  h2 {
    font : {
      weight: bold;
      size: 45px;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    margin-top: 100px;
    margin-bottom: 100px;
  }
  p {
    text-align: justify;

  }
}
