@import "./variables";
@import "./bootstrap";
@import "./navbar";
@import "./media";
@import "./footer";




// General

body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-decoration: none;
  outline:0;
  a {
    outline: 0;
    &:hover{
      text-decoration: none;
    }
  }

  li {
    list-style: none;
  }

  .btn {
    color: white;
  }
}


.login {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: White;
  font-size: 13px;
  margin-bottom: 0;

  li {
    padding: 10px;
  }

  .btn {
    background-color: rgb(27, 27, 27);
    font: {
      size:13px;
      weight:bold;
    }
    text-transform: uppercase;
    color: white;
    height: 100%;
    outline: none;

    &:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0;
    }
  }

  .account {
    font-size: 20px;
    color: red;
  }
}


// Banner

.banner {
  padding-top: 300px;
  padding-bottom: 175px;
  background: {
    image: url('/img/banner.gif');
    size: cover;
    position: center;
  }
  h3 {
    display: inline-block;
    color: white;
    font: {
      size: 60px;
      weight: 900;
    }
    text-transform: uppercase;
    background-color: #1b1b1b;
    line-height: 50px;
    padding: 10px;
    margin: 0;
  }
  strong {
    color: #ff0000;
    font: {
      size: 50px;
      style: italic;
    }
    text-transform: lowercase;
    padding-left: 30px;
  }
}

// Home-articles


.home-articles {
  margin-top:50px;
  .articles-content {
    position:relative;
    img{
      padding:10px;
    }
    .articles-name {
      color:white;
      display:flex;
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      justify-content: center;
      align-items: center;
      margin:0;
      text-align:center;
      transition:.2s ease-in;
      font-weight:bold;
      text-transform:uppercase;
      text-shadow:0 0 10px black;
      font-size:40px;
      margin: 10px;
      opacity:1;
    &:hover{
      opacity:1;
      background-color: rgba(0, 0, 0, 0.8);
    }
    }
  }
}


// Actu

.actu-title {
  font-size:50px;
  font-weight:bold;
  margin-top:150px;
  margin-bottom:150px;
  text-align:center;
}

.actu{
  margin-bottom:100px;
  min-width:100%;
  .img-section{
  padding:0;
  margin:0;
  .image{
  position:relative;
}
.legend {
  color:white;
  display:flex;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin:0;
  opacity:0;
  text-align:center;
  transition:.2s ease-in;
  font-weight:bold;
  &:hover{
    opacity:1;
  }
  img{
    padding:0;
    margin:0;
  }
}
}
}







.title-article-page {
  margin-top: 70px;
  padding-left: 10%;
  font-size: 12px;
  letter-spacing: 1px;

  a {
    color: rgb(105, 105, 105);

    &:hover {
      color: rgb(145, 145, 145);
      text-decoration: none;
    }
  }
}


// Article grid


.article-grid {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 60px;

  .card {
    border: none;
    border-radius: 0%;
    margin-top: 30px;
  }

  .card-img-top {
    border-radius: 0;

    &:hover {
      background-color: black;
    }
  }

  .card-text {
    text-align: center;
    font-size: 13px;
    line-Height: 5pt;

    h4 {
      font: {
        size : 14px;
        weight: 700;
      }
      text-transform: uppercase;
    }

    strong {
      font: {
        size : 17px;
        weight: 700;
      }
      text-transform: uppercase;
    }
  }
}


// Article Panel


.article-panel {
  margin-top: 150px;
  margin-bottom: 300px;
  padding-left: 10%;
  padding-right: 10%;

  .article-img {
    display: flex;
    justify-content: center;
    height:50%;
    width:50%;
  }

  .article-description {
    margin-top: 40px;
  }

  .article-title {
    font: {
      size : 27px;
      weight: 600;
    }
    letter-spacing: 1px;
  }

  .article-price {
    color: red;
    font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
  }

  .add-shoppingcart {
    width: 100%;
    font-weight: 600;

    &:hover {
      width: 100%;
      background-color: red;
      color: white;
    }
  }
  .article-qty{
    width:80px;
  }
  p{
    margin-top: 30px;
  }
  form{
    margin-top: 50px;
  }
}


// Create Account

.create-account {
  background-color: rgb(231, 231, 231);
  font: {
    size: 16px;
    weight: 600;
  }
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 5px;
  padding-bottom: 30px;

  h2 {
    font : {
      font-size: 45px;
      font-weight: 900;
    }
    text : {
      text-align: center;
      text-transform: none;
  
    }
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: rgb(27, 27, 27);
  }

  .btn {
    background-color: red;
    color: white;
    font-weight: 600;

    &:hover {
      background-color: rgb(160, 1, 1);
    }
  }
}



.categories {
  padding: 0;

  h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}


// Shopping-card grid

.shopping-cart-grid {
  text-align: center;
  padding: 0;

  h4 {
    font : {
      size: 40px;
      weight: bold;
    }
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    background-color: red;
    font-weight: bold;
    margin-bottom: 30px;

    &:hover {
      background-color: rgb(160, 1, 1);
      color: white;
    }
  }
  .shopping-line {
    padding: 20px;
    background-color: rgb(231, 231, 231);
    align-items: center;
  }
}




.command-resume {
  h3 {
    font-weight: bold;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 15px;
    border-radius: 5px;
  }
}

.account {
  font-size: 18px;
  li {
    text-align: center;
    color: black;
  }
  .edit-account {
    background-color: rgb(59, 59, 59);
  }
}

.add-cart {
  background-color: red;
  font-weight: bold;
}

