// MediaQueries

@media screen and (max-width: 1500px) {

  .img-section img {
    width:380px;
  }
  .articles-content img{
      width:280px;
 }
}

@media screen and (max-width: 1200px) {
  
  .articles-content img{
    width:440px;
}
  .img-section img {
    width:480px;
  }
  .map {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  
  .articles-content img{
    width:250px!important;
}
  .actu-section {
    display: none;
  }
  footer {
    .footer-social {
      li {
        font-size: 25px;
        padding: 20px;
      }
      &:hover {
        color: red;
      }
    }
  }
  .actu {
    display: none;
  }
  .shopping-line img {
    width: 200px;
    height: 200px;
  }

}

@media screen and (max-width: 992px) {


  .banner{
    padding-top:190px!important;
    padding-bottom:90px!important;
    h3{
      font-size:40px!important;
    }
    strong{
      font-size:35px!important;
    }
  }
  .articles-content img{
    width:340px;
}
  .img-section img {
    width:360px;
  }
  .navbar-collapse .nav-item {
    margin: 0 auto;
    width: 100%;
}
  .dropdown-menu{
    padding:0;
  }

  .navbar .nav-item, .navbar {
    padding:0;
  }
  
  .credits {
    justify-content: center;
  }

  .footer-social {
          margin-top:50px;
          padding-left:0!important;
  }
  .footer-social ul{
        justify-content: center;
  }
  .footer-social li{
    font-size:40px!important;
    padding: 20px!important;;
}
  .footer-social h5{
    display:none;
  }
}