$navbar-background: #1b1b1b;
$navbar-color: white;
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-collapse-order: 10;
$navbar-toggler-order: $navbar-collapse-order - 1;

$item-size-lg: 43px;
$item-padding: 8px;

.navbar {
  background-color: $navbar-background;
  color: $navbar-color;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;

  .navbar-brand {
    padding: 0;
  }

  .navbar-toggler {
    color: $navbar-color;
    border: none;
    order: $navbar-toggler-order;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
    border: none;
  }

  .nav-item {
    padding: 0 15px;
    .account {
      color: red;
    }

    &.show, &.active {
      .nav-link {
        color: red;
      }
    }
  }
  .nav-link {
    color: $navbar-color;
  }

  .navbar-collapse {
    order: $navbar-collapse-order;

    @include media-breakpoint-up('lg') {
      order: 0;
    }
  }

  .login-dropdown {
    background-color: rgb(27, 27, 27);
    margin-top: 5px;
    border-radius: 0;
    width: 190px;
    padding: 10px;
    input {
      height: 30px;
      border-radius: 0;
    }
    .btn {
      background-color: red;
      border: none;
      border-radius: 0;
    }
    a {
      width: 100%;
      text-align: center;
    }
  }

  .navbar-nav-right {
    flex-direction: row;

    .dropdown-menu {
      position: absolute;
    }

    .nav-link {
      padding-right: $navbar-nav-link-padding-x;
      padding-left: $navbar-nav-link-padding-x;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.navbar-collapse .nav-item.dropdown .dropdown-menu {
  background-color: black;
  margin-top: 6px;
  border-radius: 0;
  border: none;

  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  @include transition($transition-base);

  .dropdown-item {
    display: table-cell;
    text-align: center;
    &:hover{
      background-color: transparent;
    }
  }
  a.dropdown-item {
    color: white;
    font: {
      weight: bold;
      size: 13px;
    }
    &:hover, &.item-active {
      color: red;
    }
  }

  &.show {
    padding: $item-padding 0;
    height: $item-size-lg;
  }
}

@include media-breakpoint-down('md') {
  .navbar .container {
    max-width: 100%;
    text-align: center;
  }

  .navbar-collapse .nav-item.dropdown .dropdown-menu {


    &.show {
      text-align: center;

      $item-size: 27px;
      @for $i from 1 through 10 {
        &.count-#{$i} {
          height: $i * $item-size + $item-padding * 2;
        }
      }
    }

    .dropdown-item {
      display: block;
    }

  }
}