{% extends 'base.html.twig' %} {% block content %}
<div class="container-fluid grid ">
  <div class="row" style="padding-top: 75px; padding-bottom: 75px;">
    <a class="btn btn-dark" href="{{path('AddProduct')}}">Ajouter des Produits</a>
  </div>

  <div class="row">

    {% for row in product %}
    <div class="card col-xl-3 col-md-6">
      <a href="{{path('single', {'id':row.id})}}">
        <img class="card-img-top" src="{{asset(row.image)}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <div class="card-text">
          <h4>{{row.name}}</h4>
          <p>{{row.description}}</p>
          <strong>{{row.price}}€</strong>
          <a class="btn btn-dark" href="{{path('updProd', {'id':row.id})}}">Modifier</a>

          <a class="btn btn-dark" href="{{path('removeProduct', {'id':row.id})}}" onclick="return confirm('sûr? sans regret?')">Supprimer</a>

        </div>
      </div>
    </div>


    {% endfor %}

  </div>
</div>

{% endblock content %}