{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block content %}
<div class="container create-account col-xl-5">
      
        <h2>Votre compte</h2>

    <div class="account">
      <ul>
        <li>{{app.user.name}} {{app.user.surname}}
        </li>
        <li>{{app.user.email}}
        </li>
        <li>{{app.user.phonenumber}}
        </li>
        {% for address in app.user.address %}
        <li>{{address.number}} rue {{address.street}} {{address.postcode}} {{address.city}}</li>
      </ul> 
      <div class="d-flex flex-row-reverse">
      <a class="edit-account btn btn-secondery ml-3 mt-5" href="{{path('compte', {'id':app.user.id})}}">Modifier</a>   
       {% endfor %}
      </div>

    </div>
 

  </div>

{% endblock %}
