{% extends 'base.html.twig' %}


{% block title %}AddProduct{% endblock %}

{% block content %} 
<div class="container">
<div class="articles">
{{form_start(form)}}
{{form_widget(form)}}

{% if editMode %}
<button class="btn btn-danger">Enregistrer les modifications</button>
{% else %}
<button class="btn btn-danger">Ajouter un produit</button>
{% endif %}

{{form_end(form)}}
</div>
</div>
{% endblock content %}

