<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JAB{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/jab.ico') }}"/>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body>
{% block body %}
    {% block header %}
        {{ render(controller("App\\Controller\\CategoryController::showCat", {'header': true, category: (category is defined ? category : null)})) }}
    {% endblock header %}

    {% block content %}

    {% endblock content %}


    {% block footer %}
        {{ render(controller("App\\Controller\\CategoryController::showCat")) }}
    {% endblock footer %}

{% endblock %}
<!-- Script -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type='text/javascript'>function init_map() {
        var myOptions = {
            zoom: 17,
            center: new google.maps.LatLng(45.7655323, 4.899795300000051),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
        marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(45.7655323, 4.899795300000051)});
        infowindow = new google.maps.InfoWindow({content: '<strong>Jab</strong><br>352 cours emile zola<br>'});
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', init_map);</script>
</body>
</html>
