{% extends 'base.html.twig' %} {% block title %}Hello{% endblock %} {% block content %}
<div class="container create-account col-xl-5">
    {% if app.user %}
    <h2>Modifier Mon compte</h2>
    {% else %}
    <h2>Créer un compte</h2>
    {% endif %} {{form_start(form)}}
    <div class="row">
        <div class="col-6">

            {{ form_row(form.name) }}
        </div>
        <div class="col-6">
            {{form_row(form.surname)}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{form_row(form.email)}}
        </div>
        <div class="col-6">
            {{form_row(form.phonenumber)}}
        </div>
    </div>
    {{form_row(form.password)}} 
    {{form_row(form.address)}}
    {% if app.user %}
    <button class="btn col-12">Enregistrer les modifications</button>
    {% else %}
    <button class="btn col-12">Créer</button>

    {% endif %} {{form_end(form)}}
</div>
{% endblock %}